registry "https://registry.npmjs.org/"
"@fortawesome:registry" "https://registry.npmjs.org/"
"@awesome.me:registry" "https://registry.npmjs.org/"
"@tiptap-pro:registry" "https://registry.npmjs.org/"
"@tiptap:registry" "https://registry.npmjs.org/" 